

.landing-header-desktop {
    animation: nav-load-in 1s ease;
    position: absolute;
    top: 0;
    width: 100%;
}

.landing-header-mobile {
    display: none;
}

#landing-header-invidstor {
    float: left;
    color: white;
    margin-left: 4%;
    width: fit-content;
}

#landing-header-button {
    color: white;
    width: 100px;
    background: none;
    height: 40px;
    width: fit-content;
    font-size: 20px;
}

.landing-header-navigation-fullscreen {
    float: right;
    position: relative;
    top: 30px;
    right: 4%;
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
}

.landing-header-button {
    text-decoration: none;
    color: white;
    margin-left: 25px;
}

.landing-header-button-active {
    background-color: white;
    color: #00758f;
    font-weight: 500;
    padding: 3px 10px 3px 10px;
    border-radius: 10px;
    position: relative;
    top: -3px;
}

.landing-header-button-active {

}








.landing-page-home-background {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1000px;
    background: linear-gradient(45deg, #00d2ff 0%, #3a47d5 100%);
    z-index: -1;
}

.landing-page-home-top-text-container {
    color: white;
    position: absolute;
    top: 43%;
    left: 32%;
    transform: translate(-50%, -50%);
    transition: 2s ease;
    animation: home-load-in 2s ease-out;
}

.landing-page-home-top-text-container:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.landing-page-home-top-text-container h2 {
    font-size: 40px;
}

.landing-page-home-top-text-button {
    border: none;
    text-decoration: none;
    color: #00d2ff;
    font-weight: 700;
    font-size: 20px;
    border-radius: 15px 4px 20px 4px;
    padding: 10px 40px 10px 40px;
    background-color: white; 
    margin: 0px;
}

.landing-page-home-top-text-button:hover {
    transition: 1s ease;
    color: rgb(70, 70, 70);
}

.landing-page-home-curve {
    transition: 2s ease;
    opacity: .3;
    position: absolute;
    bottom: 0px;
    width: 110%;
    z-index: 2;
}

#landing-page-home-desksvg {
    position: absolute; 
    top: 50%;
    transform: translate(-50%, -50%);
    left: 70%;
    height: 50vh;
    z-index: 3;
}

#landing-page-home-lightbulbs {
    position: absolute;
    top: 150px;
    left: 0px;
    height: 150px;
    z-index: 3;
}



.landing-page-home-3row {
    position: relative;
    display: flex;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: fit-content;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 1;
    top: -50px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.116);
}

.landing-page-home-3row-div {
    height: 250px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.171);
    border-radius: 20px;
    width: 30%;
    min-width: 280px;
    max-width: 90%;
    padding: 20px;
    margin: 15px;
    text-align: center;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;     
}

.landing-page-home-3row-div p {
    font-size: 17px;
    font-weight: 400;
    color: white;
}

.landing-page-home-3row-div h2 {
    font-size: 25px;
    letter-spacing: 6px;
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    font-weight: 800;
    margin: 5px auto 30px auto;
}





.landing-page-home2-background {
    top: 1000px;
    width: 100%;
    height: 500px;
    background: linear-gradient(-45deg, #00d2ff 0%, #3a47d5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.landing-page-home2-body {
    width: fit-content;
    height: fit-content;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 90%;

}

.landing-page-home2-body li {
    font-size: 20px;
    list-style:  none;
}

#landing-page-home2-investsvg {
    height: 50%;
}





.landing-page-footer {
    color: grey;
    width: 100%;
    text-align: center;
}

.landing-page-footer-container {
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 700px;
}

.landing-page-footer > p {
    color: rgb(66, 66, 66);
}

.landing-page-footer-column {
    max-width: 90%;
    margin: 20px;
}

.landing-page-footer-nav-div {
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}


.landing-footer-button {
    color: rgb(185, 185, 185);
    text-decoration: none;
    margin: 3px;
    
}

.active-class {
    color: rgb(65, 126, 167);
    font-weight: 500;
}

@media screen and (min-height: 1440px) {
    #landing-page-home-desksvg {
        height: 25vw;
    }
}

@media screen and (max-width: 700px) {
    .landing-header-navigation-fullscreen {
        display: none;
    }
    .landing-header-navigation-mobile-button {
        display: contents;
    }
    .landing-page-home-3row {
        top: 0px;
    }
    .landing-page-home-background {
        height: 100vh;
    }
    .landing-page-home-top-text-container {
        font-size: 30px;
        width: fit-content;
        height: fit-content;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .landing-page-home-top-text-container:hover {
        transform: translate(-50%, -50%)
    }
    .landing-page-home-top-text-container h2 {
        font-size: 30px;
    }
    .landing-page-home-curve { 
        width: 300%;
    }
    #landing-page-home-desksvg {
        display: none;
    }
    #landing-page-home-lightbulbs {
        top: 132px;
        height: 100px;
    }
    .landing-page-home2-background {
        top: 100vh;
    }

    /* Mobile header */
    .landing-header-mobile {
        display: contents;
    }
    #landing-header-mobile-button {
        position: fixed;
        font-size: 25px;
        margin: 0px;
        padding: 10px;
        border: none;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        top: 15px;
        right: 20px;
        z-index: 6;
    }
    #landing-header-mobile-button-hamburger {
        color: rgb(99, 99, 99);
    }
    .landing-header-mobile-menu {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 179px;
        background-color: rgb(24, 41, 58);
        transition: .6s ease;
        height: 100vh;
        padding: 10px;
        z-index: 5;
    }
    .landing-header-mobile-navigation {
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .landing-header-mobile-button {
        text-align: right;
        color: white;
        text-decoration: none;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.144);
        padding: 0px 5px 8px 0px;
    }
}

@keyframes home-load-in {
    from {
        opacity: 0;
        transform: translate(-40%, -50%);
    } to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fade-from-right {
    from {
        transform: translate(100px);
    } to {
    }
}