.investDataContainer {
    position: relative;
    width: 90%;
    height: 90%;
    margin: auto auto;
    background: rgba(27, 47, 66, 0.418);
    border-radius: 20px;
}

#inputSpinner {
    color: white;
    font-size: 50px;
    animation: 1s spinner infinite linear ;
}

.investInputContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 800px;
    height: 500px;
    animation: fadeIn 1s ease;
}

.investInputContainer h2 {
    margin: 5px;
    padding: 0px 40px 0px 40px;
    border-radius: 30px;
    color: white;
    font-size: 70px;
    background: linear-gradient(45deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.investInputContainer p {
    font-size: 20px;
    color: white;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.investInputContainer p button {
    background: none;
    border: none;
}

#inputHelp {
    color: white;
    font-size: 30px;
}

.investInputContainer form {
    display: flex;
    align-items: center;
}

.investInputContainer input {
        background: rgba(0, 0, 0, 0.103);
        color: white;
        font-size: 20px;
        border: none;
        border: 1px solid rgb(27, 47, 66);
        padding: 10px;
        margin: 10px;
        width: 400px;
        text-align: center;
        border-radius: 30px;
}

.investInputContainer input:focus {
    outline: none;
}

.investInputContainer button {
    color: white;
    background: linear-gradient(45deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.investInputContainer h6 {
    color: rgb(160, 160, 160);
    margin: 5px;
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 700px) {
    .investInputContainer h2 {
        font-size: 35px;
        margin: 0px;
    }
    .investInputContainer input {
        margin: 0px;
        margin-bottom: 20px;
        width: 80vw;
        font-size: 14px;
    }
    .investInputContainer form {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
}

