.dashboard-home-container {
    position: relative;
    width: 95%;
    padding: 4%;
    box-sizing: border-box;
    height: 95%;
    overflow: hidden;
    margin: auto auto;
    background: rgba(27, 47, 66, 0.418);
    border-radius: 20px;
    color: white;
}