.websiteContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.left {
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    height: 100vh;
    font-size: 20px;
    background: rgb(27, 47, 66);
}

.leftText h1 {
    margin: 0px;
    color: orange;
}

.leftText {
    margin-top: 15px;
    text-align: center;
    color: white;
}

.leftText p {
    margin: 0px;
}

header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

header a {
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgb(219, 219, 219);
    text-decoration: none;
    width: 100%;
}

.active {
    font-weight: bold;
    animation: clipcircle .5s ease-out;
    background-color: rgb(14, 24, 34) !important;
    height: 60px;
}

header a:hover {
    background-color: rgb(24, 41, 58);
}

.right {
    display: flex;
    flex: 1;
}

.homeIcons {
    color: orange;
    border-radius: 100%;
    padding: 8px;
    position: absolute;
    left: 10px;
    font-size: 17px;
    background-color: rgb(21, 36, 51);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.459);
}

@keyframes clipcircle {
    from {
        clip-path: circle(0% at 100% 50%);
    } to {
        clip-path: circle(150% at 100% 50%);
    }
}


@media screen and (max-width: 700px) {
    .websiteContainer {
        flex-wrap: nowrap;
        align-items: none;
    }
    header {
        margin-top: 30px;
        font-size: 20px;
    }
    .left {
        width: 0%;
        min-width: 0px;
    }
    .left > * {
        display: none
    }
}