.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
    background-color: rgb(14, 24, 34);
}

.dashboard-left {
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    height: 100vh;
    font-size: 20px;
    background: rgb(27, 47, 66);
    animation: left-load-in 2s ease;
}

.dashboard-text h1 {
    margin: 0px;
    background: linear-gradient(45deg, #00d2ff 0%, #3a47d5 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dashboard-text {
    margin-top: 15px;
    text-align: center;
    color: white;
}

.dashboard-text p {
    margin: 0px;
}

.dashboard-header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.dashboard-header a {
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: rgb(219, 219, 219);
    text-decoration: none;
    width: 100%;
}

.dashboard-header-active {
    font-weight: bold;
    animation: clipcircle .5s ease-out;
    background-color: rgb(14, 24, 34) !important;
    height: 60px;
}

.dashboard-header-active .homeIcons {
    font-size: 25px;
    box-shadow: none;
    color: rgb(24, 158, 196)
}

header a:hover {
    background-color: rgb(24, 41, 58);
}

.dashboard-right {
    display: flex;
    flex: 1;
}

.homeIcons {
    color: grey;
    border-radius: 100%;
    padding: 8px;
    position: absolute;
    left: 10px;
    font-size: 17px;
}

@keyframes clipcircle {
    from {
        clip-path: circle(0% at 100% 50%);
    } to {
        clip-path: circle(150% at 100% 50%);
    }
}

@keyframes left-load-in {
    from {
        transform: translate(-100%, 0)
    }
}


@media screen and (max-width: 700px) {
    .dashboard-container {
        flex-wrap: nowrap;
        align-items: none;
    }
    .dashboard-header {
        margin-top: 30px;
        font-size: 20px;
    }
    .dashboard-left {
        width: 0%;
        min-width: 0px;
    }
    .dashboard-left > * {
        display: none
    }
}